.center{
  margin: 3rem auto;
  width: 600px;
}

.answer-choices{
  margin-bottom: 5px;
}

#question{
  padding-bottom: 5px;
}
  
hr {
  color: black;
  width: 100%;
}

.message {
  opacity: 50%;
}

#end-message, #introduction, #highscore-text{
  font-size: 25px;
}

.initials-btn, .clear-btn{
  margin-left: 5px;
}